
@{
    ViewData["Title"] = "Page2";
}

<h2>Page2</h2>

<label>@ViewData["FName"]</label><br />
<label>@ViewData["LName"]</label><br />
<label>@ViewData["Birthday"]</label><br />
<label>@ViewData["Email"]</label><br />
<label>@ViewData["PhoneNr"]</label><br />

