@model IEnumerable<Person>
@{
    ViewData["Title"] = "Page2";
}

<h2>Page2</h2>

@foreach (Person p in Model)
{
<label>@p.FName</label><br />
<label>@p.LName</label><br />
<label>@p.Birthday</label><br />
<label>@p.Email</label><br />
<label>@p.PhoneNr</label><br />
}
